@import "../../node_modules/bootstrap-scss/bootstrap.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "wa-mediabox.scss";
@import "_variables.scss";
@import "_bootswatch.scss";

.app-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.err-body {
    position: absolute;
    top: 0;
    right: 0;
}

.scroll {
    min-height: 0px;
    overflow-y: auto;
    overflow-x: auto;
}

.video-header {
    position: relative;
    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%
    }
}

.navbar-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
};

.separator {
    margin: auto;
    width: 70px;
    position: relative;
    border-top: 2px solid #61d2b4;
    margin-top: 15px;
}

.icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #f1f1f1;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.cursor-pointer {
    cursor: pointer
}